[submodule "Dependencies/LoadingIndicators.WPF"]
	path = Dependencies/LoadingIndicators.WPF
	url = https://github.com/MikiraSora/LoadingIndicators.WPF
[submodule "Plugins/WbooruPlugin.Saucenao"]
	path = Plugins/WbooruPlugin.Saucenao
	url = https://github.com/MikiraSora/WbooruPlugin.Saucenao
[submodule "Plugins/WbooruPlugin.Danbooru"]
	path = Plugins/WbooruPlugin.Danbooru
	url = https://github.com/MikiraSora/WbooruPlugin.Danbooru
[submodule "Plugins/WbooruPlugin.BossKey"]
	path = Plugins/WbooruPlugin.BossKey
	url = https://github.com/MikiraSora/WbooruPlugin.BossKey
[submodule "Plugins/WbooruPlugin.CommonMoebooruGallery"]
	path = Plugins/WbooruPlugin.CommonMoebooruGallery
	url = https://github.com/MikiraSora/WbooruPlugin.CommonMoebooruGallery
[submodule "Plugins/WbooruPlugin.WindowsStyleCustomizerPluginInfo"]
	path = Plugins/WbooruPlugin.WindowsStyleCustomizerPluginInfo
	url = https://github.com/MikiraSora/WbooruPlugin.WindowsStyleCustomizerPluginInfo