<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CalcBinding" version="2.5.1" targetFramework="net472" />
  <package id="DynamicExpresso.Core" version="2.3.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0-preview5-19254-05" targetFramework="net472" />
  <package id="ExtrameFunctionCalculator" version="1.0.1" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.6.0-preview5.19224.8" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>